@model AceBookApp.Models.Post

<head>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous">
    </script>
    @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> *@
    <script src="~/js/FeedData.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/Feed.css" />
</head>

<!--entire user feed-->
<div id="feed">
    <!--left feed - Account information-->
    <div id="leftFeed">
        <div id="myProfile">
            <div class="myProfileImg">
                <img class="myProfilelogoImg" alt="my profile photo" src="@Url.Content(ViewBag.ProfileUrl)" />
            </div>
            <div class="myProfileText">
                <a class="myProfileTextA" href='@Url.Action("ProfileData", "Profile", new { email = ViewBag.Email })'>@ViewBag.Fullname</a>
            </div>
        </div>
        <div id="friends">
            <div class="friendsImg">
                <img class="friendslogoImg" alt="friends logo" src="~/images/friendslogo.png" />
            </div>
            <div class="friendsText">
                <a class="friendsTextA" href='@Url.Action("Friends", "Profile", new { email = ViewBag.Email })'>Friends</a>
            </div>
        </div>
        <div id="mostRecent">
            <div class="mostRecentImg">
                <img class="mostRecentlogoImg" alt="most recent logo" src="~/images/mostrecentlogo.png" />
            </div>
            <div class="mostRecentText">
                <a>Most Recent</a>
            </div>
        </div>
    </div>

    <!--center feed - User posts-->
    <div id="centerFeed">
        <!--section for uploading new post-->
        <div id="createPostFeed">
            <div id="createPostFeed1">
                <div class="createPostInputPhoto">
                    <img class="createPostInputPhotoImg" alt="profile photo" src="@Url.Content(ViewBag.ProfileUrl)" />
                </div>
                <input id="createPostInput" placeholder="What's on your mind, @ViewBag.Firstname?" />
            </div>
            <div id="createPostFeed2">
                <div id="createPostLabel" onclick="ShowCreatePost()">
                    <span>
                        <img id="createPostIcon" alt="create post icon" src="~/images/createposticon.png" />
                    </span>
                    <span id="createPostText">
                        Photo/video
                    </span>
                </div>
                <div id="activityLabel">
                    <span>
                        <img id="activityIcon" alt="activity icon" src="~/images/activityIcon.png" />
                    </span>
                    <span id="activityText">
                        Feeling/activity
                    </span>
                </div>
            </div>
        </div>

        <!--section containing user posts-->
        <div id="feedPostSection">
            @{
                int c = 0;

                @foreach (var post in ViewBag.Posts)
                {
                    string p = @post.Imagepath;

                    TimeSpan time = DateTime.Now.Subtract(post.Date);

                    <div class="feedPost" id="@post.PostId">

                        <div class="postDetails">
                            <div>
                                <img class="feedPostPhoto" alt="profile img" src="@Url.Content(ViewBag.FeedPostProfileUrl[c])" />
                            </div>
                            <div class="postName">
                                <a href='@Url.Action("ProfileData", "Profile", new { email = ViewBag.PostEmails[c] })'>@ViewBag.Names[c]</a>
                            </div>
                            <div class="postDate">
                                @if (Math.Floor(time.TotalHours) == 0)
                                {
                                    <text>@Math.Floor(time.TotalMinutes)m</text>
                                }
                                else if (Math.Floor(time.TotalHours) > 24)
                                {
                                    <text>@time.ToString("%d")d</text>
                                }
                                else
                                {
                                    <text>@Math.Floor(time.TotalHours)h</text>
                                }
                            </div>
                            <div class="postCaption">
                                @post.Caption
                            </div>
                        </div>

                        <div class="feedPost">
                            <img class="post" alt="post image" src="@Url.Content(p)" />
                        </div>

                        <div class="likedNamesParent">
                            <div class="likedNames" runat="server" style="display: none;"></div>
                        </div>

                        <div class="likeCommentCount" onclick="GetCommentsCount('@post.PostId')">
                            @if (ViewBag.PostLikeCount[c] == 0)
                            {
                                <img class="postLike" alt="not liked image" src="~/images/white-solid-color.jpg" />
                                <h3 class="likeCount"></h3>
                            }
                            else if (ViewBag.PostLikeCount[c] == 1)
                            {
                                <img class="postLike" alt="liked image" src="~/images/postLike.png" />
                                <h3 class="likeCount" onmouseover="DisplayLikes('@post.PostId')" onmouseout="DisplayLikesHide('@post.PostId')">@ViewBag.PostLikeCount[c] other</h3>
                            }
                            else
                            {
                                <img onclick="test()" alt="liked image" class="postLike" src="~/images/postLike.png" />
                                <h3 class="likeCount" onmouseover="DisplayLikes('@post.PostId')" onmouseout="DisplayLikesHide('@post.PostId')">@ViewBag.PostLikeCount[c] others</h3>
                            }
                            <div class="commentCountDiv">
                                <h3 class="commentCount"></h3>
                            </div>
                        </div>

                        <div class="likeComment">
                            <div class="likeDiv">
                                <img class="likeBtnImg" alt="like button image" src="~/images/likebutton.png" />
                                <span class="like">Like</span>
                            </div>
                            <div class="commentDiv" onclick="ShowComments('@post.PostId'); AddingComment('@post.PostId');">
                                <img class="commentBtnImg" alt="comment button image" src="~/images/commentbutton.png" />
                                <span class="comment">Comment</span>
                            </div>
                        </div>

                        <div class="commentSection" style="display: none;">
                            <div class="addCommentDiv">
                                <img class="commentProfileImg" alt="profile photo" src="@Url.Content(ViewBag.ProfileUrl)" />
                                <input class="addComment" placeholder="Write a comment..." />
                            </div>
                            <div class="CommentsList">
                            </div>
                        </div>
                    </div>
                    c += 1;
                }
            }
        </div>

        <!--window for uploading new post-->
        <div id="createPostDialog" style="display: none;">
            <div id="createLabel">
                <img id="cancelOption" alt="cancel option" src="~/images/canceloption.png" onclick="Cancel()" />
                <label>Create post</label>
            </div>
            <div>
                <form asp-action="FeedData" method="post" role="form" enctype="multipart/form-data" id="createPostForm">
                    <div>
                        <img class="createPostProfileImg" alt="profile photo" src="@Url.Content(ViewBag.ProfileUrl)" />
                    </div>
                    <div id="Fullnamelabel">
                        <span>@ViewBag.Fullname</span>
                    </div>
                    <div class="col-md-5">
                        <input id="caption" asp-for="Caption" class="form-control" placeholder="What's on your mind, @ViewBag.Firstname?" required />
                    </div>
                    <div id="inputArea">
                        <div id="inputAreaSpan">
                            <img id="createPostIcon2" alt="create post icon" src="~/images/createposticon2.png" />
                            <span id="inputSpan">
                                Add Photos
                            </span>
                        </div>
                        <input type="file" name="imgfile" id="fileInput" hidden />
                    </div>
                    <div id="uploadbtn" col-md-5">
                        <input type="submit" id="actualUploadbtn" value="Upload" onmouseover="CheckCreatePostInput()" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--right feed - Contacts-->
    <div id="rightFeed">
        <text class="contacts">Contacts</text>
        <div class="conatctList"></div>
    </div>
</div>

<script>
    // Render server-side values as JS variables
    const likedUrl = '@Url.Action("Liked", "Feed")';
    const likedByMe = @Html.Raw(Json.Serialize(ViewBag.LikedByMe));
</script>