@model AceBookApp.Models.Post

<head>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="~/js/feeddata.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/Feed.css" />
</head>

<div id="feed">
    <div id="leftFeed">
        <div id="myProfile">
            <div class="myProfileImg">
                <img class="myProfilelogoImg" src="@Url.Content("http://127.0.0.1:8080/" + ViewBag.ProfileUrl.Substring(64))" />
            </div>
            <div class="myProfileText">
                <a class="myProfileTextA" href='@Url.Action("ProfileData", "Profile", new {email = ViewBag.Email})'>@ViewBag.Fullname</a>
            </div>          
        </div>
        <div id="friends">
            <div class="friendsImg">
                <img class="friendslogoImg" src="~/images/friendslogo.png" />
            </div>
            <div class="friendsText">
                <a class="friendsTextA" href='@Url.Action("Friends", "Profile", new {email = ViewBag.Email} )'>Friends</a>
            </div>           
        </div>
        <div id="mostRecent">
            <div class="mostRecentImg">
                <img class="mostRecentlogoImg" src="~/images/mostrecentlogo.png" />
            </div>
            <div class="mostRecentText">
                <a>Most Recent</a>
            </div>
        </div>
    </div>

    <div id="centerFeed">
        <div id="createPostFeed">
            <div id="createPostFeed1">
                <div class="createPostInputPhoto">
                    <img class="createPostInputPhotoImg" src="@Url.Content("http://127.0.0.1:8080/" + ViewBag.ProfileUrl.Substring(64))" />
                </div>
                <div>
                    <input id="createPostInput" placeholder= "What's on your mind, @ViewBag.Firstname?" /> 
                </div>                           
            </div>
            <div id="createPostFeed2">
                <div id="createPostLabel" onclick="ShowCreatePost()">
                    <span>
                        <img id="createPostIcon" src="~/images/createposticon.png" />
                    </span>
                    <span id="createPostText">
                        Photo/video
                    </span>
                </div>
                <div id="activityLabel">
                    <span>
                        <img id="activityIcon" src="~/images/activityIcon.png" />
                    </span>
                    <span id="activityText">
                        Feeling/activity
                    </span>
                </div>
            </div>
        </div>

        <div id="feedPostSection">
            @{
                int c = 0;
                
                @foreach (var post in ViewBag.Posts)
                {
                    string p = "http://127.0.0.1:8080/" + @post.Imagepath.Substring(64);
                    
                    TimeSpan time = DateTime.Now.Subtract(post.Date);

                    <div class="feedPost" id="@post.PostId">
                        
                        <div class="postDetails">
                            <div>
                                <img class="feedPostPhoto" src="@Url.Content("http://127.0.0.1:8080/" + ViewBag.FeedPostProfileUrl[c].Substring(64))" />
                            </div>
                            <div class="postName">
                                <a href='@Url.Action("ProfileData", "Profile", new {email = ViewBag.PostEmails[c]})'>@ViewBag.Names[c]</a>
                            </div>
                            <div class="postDate">
                                @if (Math.Floor(time.TotalHours) == 0)
                                {
                                    <text>@Math.Floor(time.TotalMinutes)m</text>
                                }
                                else if(Math.Floor(time.TotalHours) > 24)
                                {
                                    <text>@time.ToString("%d")d</text>
                                }
                                else
                                {
                                    <text>@Math.Floor(time.TotalHours)h</text>
                                }
                            </div>
                            <div class="postCaption">
                                @post.Caption
                            </div>
                        </div>

                        <div class="feedPost">
                            <img class="post" src="@Url.Content(p)" />
                        </div>

                        <div class="likedNamesParent">
                            <div class="likedNames" runat="server" style="display: none;"></div>
                        </div>

                        <div class="likeCommentCount">
                            @if (ViewBag.PostLikeCount[c] == 0)
                            {
                                <img class="postLike" src="~/images/white-solid-color.jpg"/>
                                <h3 class="likeCount"></h3>
                            }
                            else if (ViewBag.PostLikeCount[c] == 1)
                            {
                                <img class="postLike" src="~/images/postLike.png"/>
                                <h3 class="likeCount" onmouseover="DisplayLikes(@post.PostId)" onmouseout="DisplayLikesHide(@post.PostId)">@ViewBag.PostLikeCount[c] other</h3>
                            }
                            else
                            {
                                <img onclick="test()" class="postLike" src="~/images/postLike.png" />
                                <h3 class="likeCount" onmouseover="DisplayLikes(@post.PostId)" onmouseout="DisplayLikesHide(@post.PostId)">@ViewBag.PostLikeCount[c] others</h3>
                            }                     
                        </div> 
                        
                        <div class="likeComment">
                            <div class="likeDiv">
                                <img class="likeBtnImg" src="~/images/likebutton.png" />
                                <span class="like">Like</span>
                            </div>
                            <div class="commentDiv" onclick="ShowComments(@post.PostId); addingComment(@post.PostId);">
                                <img class="commentBtnImg" src="~/images/commentbutton.png" />
                                <span class="comment">Comment</span>
                            </div>                           
                        </div>

                        <div class="commentSection" style="display: none;">
                            <div class="addCommentDiv">
                                <img class="commentProfileImg" src="@Url.Content("http://127.0.0.1:8080/" + ViewBag.ProfileUrl.Substring(64))" />
                                <input class="addComment" placeholder="Write a comment..." />
                            </div>
                            <div class="CommentsList">
                                
                            </div>
                        </div>
                    </div>
                    c += 1;
                }
            }
        </div>
        <div id="createPostDialog" style="display: none;">
            <div id="createLabel">
                <img id="cancelOption"src="~/images/canceloption.png" onclick="cancel()"/>
                <label>Create post</label>
            </div>          
            <div>
                <form asp-action="FeedData" method="post" role="form" enctype="multipart/form-data">
                    <div>
                        <img class="createPostProfileImg" src="@Url.Content("http://127.0.0.1:8080/" + ViewBag.ProfileUrl.Substring(64))" />
                    </div>
                    <div id="Fullnamelabel">
                        <span>@ViewBag.Fullname</span>                       
                    </div>
                    <div class="col-md-5">
                        <input id="caption" asp-for="Caption" class="form-control" placeholder="What's on your mind, @ViewBag.Firstname?" required />
                    </div>
                    <div id="inputArea">
                        <div id="inputAreaSpan">
                            <img id="createPostIcon2"src="~/images/createposticon2.png" />
                            <span id="inputSpan">
                                Add Photos
                            </span>
                        </div>
                        <input type="file" name="imgfile" id="fileInput" hidden/>
                    </div>
                    <div id="uploadbtn" col-md-5">
                        <input type="submit" id="actualUploadbtn" value="Upload" />
                    </div>
                </form>
            </div>          
        </div>
 
    </div>

    <div id="rightFeed">
        <text class="contacts">Contacts</text>
        <div class="conatctList"></div>
    </div>

    <div class="searchDiv">
        <div id="searchFeed">
            <div id="result"></div>
            <input id="searchInput" name="Name" oninput="Search(this.value)" placeholder="Search Acebook" />
            <img class="searchIcon" src="~/images/searchIcon.png" />
            <img class="acebookLogo" src="~/images/acebookLogo-modified.png" />
            <img class="homeIcon" src="~/images/homeicon.png" />
            <img class="notiIcon" src="~/images/notiicon.png" />
            <img class="myProfilelogoImgRight" />
            <div class="searchFeedSettingDiv" style="visibility: hidden;">
                <div class="searchFeedSettingProfileNameDiv">
                    <img class="searchFeedSettingProfileImg" />
                    <span class="searchFeedSettingProfileName"></span>
                </div>
                <div class="searchFeedSettingOptionDiv">
                    <img class="searchFeedSettingOptionImg" src="~/images/settingicon.png" />
                    <span class="searchFeedSettingOption">Setting & privacy</span>
                </div>
                <div class="searchFeedSettingLogoutOptionDiv">
                    <img class="searchFeedSettingLogoutOptionImg" src="~/images/logouticon.png" />
                    <span class="searchFeedSettingLogoutOption">Log out</span>
                </div>
            </div>
            <div class="searchFeedNotiDiv" style="visibility:hidden">

            </div>
            <div class="searchFeedNotiMarkerDiv" style="visibility:hidden">
                <span class="searchFeedNotiMarkerCountDiv"></span>
            </div>

        </div>
    </div>
</div>

<script>
    let btn = document.getElementById("inputAreaSpan");
    let input = document.getElementById("fileInput")

    btn.onclick = function(){
        input.click();
    }

    let file;

    input.addEventListener('change', function(){
        file = this.files[0];
        //file = event.dataTransfer.files[0];
        
        let fileReader = new FileReader();
        fileReader.readAsDataURL(file);
        fileReader.onload = () => {
            let fileURL = fileReader.result;
            console.log(fileURL);
            let imgTag = `<img class="img1" src="${fileURL}">`
            btn.innerHTML = imgTag;
        }
    })

    $(document).ready(function () {
        $(".likeDiv").click(function () {
            //event.preventDefault();
            $.post('@Url.Action("Liked","Feed")?id=' + this.parentNode.parentNode.id);

            var imgSrc = document.getElementById(this.parentNode.parentNode.id);
            if (imgSrc.getElementsByClassName("likeBtnImg")[0].src == "https://" + location.host + "/images/likebutton.png") {
                imgSrc.getElementsByClassName("likeBtnImg")[0].src = "https://" + location.host + "/images/likedbutton.png"
                
                if (imgSrc.getElementsByClassName("likeCount")[0].textContent == "") {
                    imgSrc.getElementsByClassName("likeCount")[0].textContent = "You"
                    imgSrc.getElementsByClassName("postLike")[0].src = "https://" + location.host + "/images/postLike.png"

                }
                else if (imgSrc.getElementsByClassName("likeCount")[0].textContent.split(" ")[0] == "1") {
                    imgSrc.getElementsByClassName("likeCount")[0].textContent = "You and " + imgSrc.getElementsByClassName("likeCount")[0].textContent.split(" ")[0] + " other";
                }
                else {
                    imgSrc.getElementsByClassName("likeCount")[0].textContent = "You and " + imgSrc.getElementsByClassName("likeCount")[0].textContent.split(" ")[0] + " others";
                }
            }
            else {
                imgSrc.getElementsByClassName("likeBtnImg")[0].src = "https://" + location.host + "/images/likebutton.png"
                
                if (imgSrc.getElementsByClassName("likeCount")[0].textContent == "You") {
                    imgSrc.getElementsByClassName("likeCount")[0].textContent = ""
                    imgSrc.getElementsByClassName("postLike")[0].src = "https://" + location.host + "/images/white-solid-color.jpg"

                }
                else if (imgSrc.getElementsByClassName("likeCount")[0].textContent.split(" ")[2] == "1") {
                    imgSrc.getElementsByClassName("likeCount")[0].textContent = imgSrc.getElementsByClassName("likeCount")[0].textContent.split(" ")[2] + " other";
                }
                else {
                    imgSrc.getElementsByClassName("likeCount")[0].textContent = imgSrc.getElementsByClassName("likeCount")[0].textContent.split(" ")[2] + " others";
                }
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var jsonObj = @Html.Raw(Json.Serialize(ViewBag.LikedByMe));
        for (var i = 0; i < jsonObj.length; i++) {
            var op = jsonObj[i];
            var likedByMe = document.getElementById(op);
            //console.log(likedByMe.getElementsByClassName("likeBtnImg")[0].src)
            likedByMe.getElementsByClassName("likeBtnImg")[0].src = "https://" + location.host + "/images/likedbutton.png"
            //console.log(likedByMe.getElementsByClassName("likeCount")[0].textContent.split(" ")[0]);
            if (likedByMe.getElementsByClassName("likeCount")[0].textContent.split(" ")[0] == "1") {
                likedByMe.getElementsByClassName("likeCount")[0].textContent = "You"
                //likedByMe.getElementsByClassName("likeCommentCount")[0].style.height = "40px";
            }
            else if (likedByMe.getElementsByClassName("likeCount")[0].textContent.split(" ")[0] == "2") {
                likedByMe.getElementsByClassName("likeCount")[0].textContent = "You and " + (parseInt(likedByMe.getElementsByClassName("likeCount")[0].textContent.split(" ")[0]) - 1) + " other";
                //likedByMe.getElementsByClassName("likeCommentCount")[0].style.height = "40px";
            }
            else {
                likedByMe.getElementsByClassName("likeCount")[0].textContent = "You and " + (parseInt(likedByMe.getElementsByClassName("likeCount")[0].textContent.split(" ")[0]) - 1) + " others";
                //likedByMe.getElementsByClassName("likeCommentCount")[0].style.height = "40px";
            }

        }
    }, false);

</script>